# Pandas Series :

- Series are the first main Data Type used in Pandas.
- They are used to build Data Frames.
- **Pandas Series** are similar to NumPy Objects, But series can have **AXIS** labels (i.e. it can be indexed via labels).
- **Pandas Series** can hold a variety of object types.

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']           # Python List
my_data = [10,20,30]             # Python List
arr = np.array(my_data)          # NumPy Array
d = {'a':10, 'b':20, 'c':30}     # Python Dictionary

## Creating Pandas Series :

> **1. Creating Series by passing a list :**

**`pd.Series(data = yourDataList, index = yourIndexList )`**

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# OR 
# Data and Labels both can be passed as parameters orderwise :
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

> **2. Creating Series by passing a NumPy Array :**

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

> **3. Creating Series by passing a Dictionary :**

**`pd.Series(yourDictionayName)`**

In [8]:
# - It will automatically take keys as labels and values as Data.
pd.Series(d)

a    10
b    20
c    30
dtype: int64

> **Pandas Series can hold Functions (including Built-in Functions)**

In [9]:
def square(n):
    return n**2

pd.Series(data = [sum, print, len, square])
#  Though it is not that much used

0                    <built-in function sum>
1                  <built-in function print>
2                    <built-in function len>
3    <function square at 0x000001E2F1B6A8B0>
dtype: object

---

## Grabbing Values/Data from Series :

In [10]:
countryNames = ['India', 'USA', 'Canada', 'Russia', 'Japan']
rankings = [1,2,3,4,5]

ser1 = pd.Series(rankings, countryNames)
ser2 = pd.Series([1,2,3,5,4], ['India', 'USA', 'Canada', 'AUS', 'Russia'])

In [11]:
ser1

India     1
USA       2
Canada    3
Russia    4
Japan     5
dtype: int64

In [12]:
ser2

India     1
USA       2
Canada    3
AUS       5
Russia    4
dtype: int64

In [13]:
# Grabbing Information from Pandas Series (similar to that of Dictionaries) :

In [14]:
ser1['India']

1

In [15]:
ser2['Russia']

4

In [16]:
# For series without keys(labels)
ser3 = pd.Series(data = labels)
ser3

0    a
1    b
2    c
dtype: object

In [17]:
ser3[0]

'a'

> Performing Arithmatic Operations on Series :

In [18]:
# - For Different labels that are not common it gives NaN
# - Resulting values are in Float64 data type
# - Also It performs sorting according to Labels
ser1 + ser2

AUS       NaN
Canada    6.0
India     2.0
Japan     NaN
Russia    8.0
USA       4.0
dtype: float64

In [19]:
ser1 - ser2

AUS       NaN
Canada    0.0
India     0.0
Japan     NaN
Russia    0.0
USA       0.0
dtype: float64

In [20]:
ser1 * ser2

AUS        NaN
Canada     9.0
India      1.0
Japan      NaN
Russia    16.0
USA        4.0
dtype: float64

In [21]:
ser1 ** ser2

AUS         NaN
Canada     27.0
India       1.0
Japan       NaN
Russia    256.0
USA         4.0
dtype: float64

In [22]:
ser1 / ser2

AUS       NaN
Canada    1.0
India     1.0
Japan     NaN
Russia    1.0
USA       1.0
dtype: float64

In [27]:
# Boolean Operations cannot be performed here But 'is' and 'is not' can be used

In [28]:
ser1 is ser2

False

In [29]:
ser1 is not ser2

True

In [31]:
ser2

India     1
USA       2
Canada    3
AUS       5
Russia    4
dtype: int64