# Data Frames :
- Python version of Excel is DataFrames.

**syntax : `pd.DataFrame(data, index/rows, columns)`**

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)
#gives same set of numbers everytime while using random func. after using seed

In [4]:
# Using DataFrame 

df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Note: *Here Each of the columns are actually Pandas Series sharing common indexes to form a DataFrame as shown below :***

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64