# Pandas - DataFrames (Part - III)

### *Content :*
- **Multi-Index & Index Hierarchy**

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index levels

outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))

# Not much important
# for creating multi-indexes from tuples
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
list(zip(outside,inside))
# It groups respective elements in form of tuples

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [6]:
# dataframe with multi-level indexes 
df

             A         B
G1 1 -0.882014  0.307756
   2  0.227644 -1.084575
   3 -0.430055 -0.688430
G2 1 -1.433044  0.484267
   2  0.077025  0.474418
   3 -1.336717 -1.051730

### Grabbing from multi-indexed DataFrame :

In [7]:
df.loc['G1']

          A         B
1 -0.882014  0.307756
2  0.227644 -1.084575
3 -0.430055 -0.688430

In [8]:
df.loc['G1'].loc[1]
# returns series

A   -0.882014
B    0.307756
Name: 1, dtype: float64

In [9]:
df.loc['G2'].loc[2,'B']
# OR
# df.loc['G2'].loc[2]['B']

0.47441770876611383

---

## Naming Indexes :
> Syntax: `df_name.index.names = listOfIndexNames`

In [10]:
df.index.names = ['Groups','Num']

In [11]:
df

                   A         B
Groups Num
G1     1   -0.882014  0.307756
       2    0.227644 -1.084575
       3   -0.430055 -0.688430
G2     1   -1.433044  0.484267
       2    0.077025  0.474418
       3   -1.336717 -1.051730

---

## Cross Section Method :
> Syntax: `df_name.xs('index', level='indexName')`

In [12]:
# returns cross-sections of rows/cols from series of Dataframes 
# used in Multi-level Index

In [13]:
df.loc['G1']

            A         B
Num
1   -0.882014  0.307756
2    0.227644 -1.084575
3   -0.430055 -0.688430

In [14]:
df.xs('G1')

            A         B
Num
1   -0.882014  0.307756
2    0.227644 -1.084575
3   -0.430055 -0.688430

In [15]:
df.xs(1,level='Num')

# It returns the cross-section of '1' from 'Num index' of both Groups G1 & G2
# .loc can't do this

               A         B
Groups
G1     -0.882014  0.307756
G2     -1.433044  0.484267

---