## pandas has ability to read data abd write data to a wide variety of sources:

### For instance:
- **CSV**
- **Excel**
- **HTML**
- **SQL**

## Requirements : 
- `!conda install sqlalchemy`
- `!conda install lxml`
- `!conda install html58lib`
- `!conda install BeautifulSoup4`
- (u can also use 'pip')

In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'E:\\AI-ML\\2_Python_for_Data_Science_and_Machine_Learning_Bootcamp\\Practice\\Python for ML\\3_Pandas-Data_Analysis'

---

# Reading from CSV files (Input):
- **`pd.read_csv('file_name.csv')`**

In [3]:
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Writing to CSV files (Output) :
- **`df_name.to_csv('output_fileName.csv', index=False)`**
- here `index=False` is given to avoid index to be copied in a new column

In [5]:
df.to_csv('My_Output_CSV.csv')

In [6]:
pd.read_csv('My_Output_CSV.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [7]:
df.to_csv('My_Output_CSV.csv', index=False)
pd.read_csv('My_Output_CSV.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

---

# Reading from Excel files (Input):
- **`pd.read_excel('fileName.xlsx', sheetname='Sheet1', index_col=0)`**
- **In case of error in fetching Excel file install 'xlrd'- `!conda install xlrd`**
- **It is same as csv files but it has different sheets**

In [8]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [9]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1', index_col=0)
# here index_col=0 is given to avoid index to be copied in a new column

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Writing to Excel files (Output):
- **`df_name.to_excel('output_fileName.xlsx', index=False)`**

In [10]:
df.to_excel('My_Output_Excel.xlsx', sheet_name='NewSheet')

In [11]:
pd.read_excel('My_Output_Excel.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

---