#  Variable Assignment :

In [5]:
variableName = 3 #(data)
    #for example
x = 2
y = 3

In [6]:
x+y

5

In [7]:
x = x+x

In [8]:
x

4

>***(Remember : python gives error for leaving whitespaces)***

---

# String Operations :

In [9]:
x = 'hello'

In [10]:
x

'hello'

In [11]:
print(x)

hello

In [12]:
num = 10
firstName = 'KIRTAN'
lastName = 'GHELANI'
sentence = 'My number is {} and my name is {} {}'
fullName = firstName+' '+lastName

> ***format() function - putting input in string***

*Syntax* - `newStringName.format(single, multipleVariables)`

In [13]:
#TYPE 1 :    
'My number is {} and my name is {}'.format(num, firstName)

'My number is 10 and my name is KIRTAN'

In [14]:
#TYPE 2 :    
'My number is {a} and my name is {b}'.format(a = num, b = lastName)

'My number is 10 and my name is GHELANI'

In [15]:
#TYPE 3 :    
ans = sentence.format(num, firstName, lastName)
ans #print

'My number is 10 and my name is KIRTAN GHELANI'

In [26]:
'Name : {} {}'.format(firstName, lastName[0]) #fetching specific element from string

'Name : KIRTAN G'

In [27]:
#TYPE 4 : formatting a string 
message = f'My number is {num} and my name is {firstName} {lastName}'
message

'My number is 10 and my name is KIRTAN GHELANI'

>***Slice function [from:to ] - slicing a string to form substring***

*Syntax* - `stringName[from/indexNumber : to/(n-1)Element]`

In [17]:
numberString = '0123456789'

In [18]:
numberString[2:8]

'234567'

In [19]:
fullName[:6]

'KIRTAN'

In [20]:
fullName[7:]

'GHELANI'

In [21]:
fullName[5:8]

'N G'

In [23]:
# index of the last string character
numberString[-1]

'9'

In [25]:
numberString[-2]

'8'