# LOOPS :

> ***for* loops :**

In [1]:
lis = [0,1,2,3,'a','b']
seq = [1,2,3,4,5,6]

In [2]:
for item in lis :
    print(item)

0
1
2
3
a
b

In [3]:
summ=0
for i in seq:
    summ+=i
summ

21


> ***while* loops :**

In [4]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

# RANGE Function :

In [5]:
range(5)

range(0, 5)

In [6]:
range(1,5)

range(1, 5)

In [7]:
li = []
for i in range(2,5):
    li.append(i)
li

[2, 3, 4]

In [8]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [20]:
x = [1,2,3,4]

out = []
for num in x:
    out.append(num**2)
out
    #OR

[1, 4, 9, 16]

> **LIST Comprehension :**

*Syntax* - `newList = [operation` | `for iterator in list` | `condition] `

In [ ]:
out = [num**2 for num in x]
out

In [18]:
#Example
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if 'a' in x]
newlist

['apple', 'banana', 'mango']